<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.igaworks.adbrixrmhybridsample">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name="com.igaworks.v2.core.application.AbxApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:name="AdBrixRmDebugMode" android:value="enable" />
        <meta-data android:name="AdBrixRmAppKey" android:value="dW6eSX9fbk2r0Rr4KJIQ0A" />
        <meta-data android:name="AdBrixRmSecretKey" android:value="tkBFgB2bOUK0L0Jo9FKqyw" />

        <receiver android:name="com.igaworks.v2.core.application.AbxReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

    </application>

</manifest>